{% extends "base.html" %}

{% block content %}

<div class="card shadow">

<div class="card-header bg-success text-white">

<h4>

Appointments

</h4>

</div>

<div class="card-body">

<table class="table table-striped">

<thead>

<tr>

<th>

ID

</th>

<th>

Patient

</th>

<th>

Counselor

</th>

<th>

Date

</th>

<th>

Time

</th>

<th>

Status

</th>

<th>

Action

</th>

</tr>

</thead>

<tbody>
{% for appointment in appointments %}
<tr>

    <td>
    {{ loop.index }}
    </td>

    <td>
        {{ appointment.user.username }}
    </td>

    <td>
        {{ appointment.therapist.name }}
    </td>

    <td>
    {{ appointment.date_time[:10] }}
    </td>

    <td>
    {{ appointment.date_time[11:16] }}
    </td>

    <td>
        {% if appointment.status == "Booked" %}
            <span class="badge bg-success">
                {{ appointment.status }}
            </span>
        {% elif appointment.status == "Completed" %}
            <span class="badge bg-primary">
                {{ appointment.status }}
            </span>
        {% elif appointment.status == "Cancelled" %}
            <span class="badge bg-danger">
                {{ appointment.status }}
            </span>
        {% else %}
            <span class="badge bg-secondary">
                {{ appointment.status }}
            </span>
        {% endif %}
    </td>

    <td>
        {% if appointment.status == "Booked" %}
        <button
            type="button"
            class="btn btn-danger btn-sm rounded-pill px-3"
            data-bs-toggle="modal"
            data-bs-target="#cancelModal"
            onclick="prepareCancelModal('{{ appointment.id }}')">
            Cancel Appointment
        </button>
        {% else %}
        -
        {% endif %}
    </td>

</tr>
{% endfor %}
</tbody>

</table>

</div>

</div>

{% endblock %}